/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  cursor: url("../imgs/cursor_black.png"), auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS EDITS */

body {
  background-image: url("../imgs/928887.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(5, 47, 181, 0.7);
  height: 100vh;
  width: 100vw;
}

button:hover,
button:focus {
  border-color: darkblue;
  box-shadow: inset -50em 0 0 0 rgb(77, 131, 247),
    inset 50em 0 0 0 rgb(77, 131, 247);
  color: white;
}

/* Base Design of buttons */
button {
  color: rgb(40, 48, 153);
  transition: 0.25s;
  border-radius: 10%/50%;
}

button {
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  font: inherit;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  cursor: url("../imgs/pointer.png"), pointer;
}

.header_bar {
  display: flex;
  background-color: rgba(45, 136, 255, 0.65);
  font-size: 24px;
  padding: 0.5rem 0.5rem;
  overflow: auto;
}

/* General CSS for right alignment of elements */
.right_align_section {
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.right_align_section .gem_amount {
  padding: 12px 0;
  letter-spacing: 0.2em;
  color: white;
}

.modal_btns {
  font-size: 1rem;
}

.summon_banner {
  display: flex;
  margin: 10vh auto 10vh auto;
  max-width: 1000px;
  max-height: 150px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardzz {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: url("../imgs/cursor_black.png"), auto;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/* .summon_banner img {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.85), 0px 6px 6px rgba(0, 0, 0, 0.85),
    0px 8px 8px rgba(0, 0, 0, 0.85), 0px 10px 15px rgba(0, 0, 0, 0.085),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
} */

.summon_btns {
  display: flex;
  padding: 0 25vw;
  width: 100vw;
  justify-content: space-evenly;
}

.summon_btns button {
  height: 60px;
  width: 200px;
}

#rate_info {
  margin: 1em auto;
  width: fit-content;
  color: black;
  font-size: 2.5ch;
  background-color: white;
  border-radius: 100%;
  line-height: 1;
  position: relative;
}

#rate_info > .tooltip {
  display: none;
  position: absolute;
  bottom: 150%;
  background-color: black;
  color: #ffffff;
  width: 50ch;
  padding: 0em 1em;
  line-height: 1.5;
  left: 50%;
  transform: translateX(-50%);
}

#rate_info > .tooltip li {
  list-style: none;
}

#rate_info .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#rate_info:hover > .tooltip,
#rate_info:active > .tooltip {
  display: unset;
}

.modal {
  max-height: fit-content;
  width: 90vw;
  position: relative;
  background-color: rgb(224, 255, 255);
  border-radius: 20px;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.close-button {
  position: relative;
  display: flex;
  margin-left: auto;
}

.video-container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.video-container #skip {
  position: absolute;
  top: 0;
  right: 2vw;
  border: none;
  display: flex;
  gap: 5px;
  color: black;
  background-color: transparent;
}

#skip {
  font-size: 2vw;
  letter-spacing: normal;
  user-select: none;
}

#skip div span {
  position: absolute;
}

#skip:hover {
  border-color: none;
  box-shadow: none;
  color: white;
}

#skip:hover div span {
  animation-name: skip;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes skip {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.8);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.8);
  }

  60% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

#skip span:nth-child(1) {
  margin-left: 10px;
}

#skip span:nth-child(2) {
  margin-left: 5px;
  animation-delay: 0.2s;
}

#skip span:nth-child(3) {
  animation-delay: 0.4s;
}

.purchase_counter {
  background: url("../imgs/ocean.jpg") no-repeat center/cover;
  padding: 1ch 2ch;
  display: flex;
  align-items: center;
  color: white;
}

.landscape {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  place-content: center;
  place-items: center;
  z-index: 1000;
}

@media only screen and (max-width: 1000px) {
  @media only screen and (orientation: portrait) {
    body {
      background-color: black;
    }

    .landscape {
      display: flex;
    }

    .modal {
      display: none;
    }
  }

  .summon_banner {
    margin: 5vh auto 5vh auto;
    max-width: 650px;
  }

  .summon_btns {
    padding: 0 10vw;
  }

  .modal_btns {
    height: 20px;
    width: 100px;
    font-size: 10px;
  }

  .right_align_section .gem_amount {
    padding: 0;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
  }

  .summon_btns button {
    height: 30px;
    width: 200px;
    font-size: 10px;
  }

  #rate_info > .tooltip {
    font-size: 1.5ch;
  }
}

@media screen and (min-width: 1000px) and (min-aspect-ratio: 21/9) {
  body {
    background-color: black;
    overflow: hidden;
  }

  .landscape {
    display: flex;
  }

  .modal {
    display: none;
  }
}

@media screen and (max-height: 620px) {
  .summon_banner {
    max-width: 650px;
  }
}
