/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS EDITS */

body {
  background-image: url("./imgs/928887.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

button:hover,
button:focus {
  border-color: darkblue;
  box-shadow: inset -50em 0 0 0 rgb(77, 131, 247),
    inset 50em 0 0 0 rgb(77, 131, 247);
  color: white;
}

button {
  color: rgb(40, 48, 153);
  transition: 0.25s;
}

button {
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  font: inherit;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.header_bar {
  display: flex;
  background-color: rgba(45, 136, 255, 0.65);
  font-size: 24px;
  padding: 0.5rem 0.5rem;
  overflow: auto;
}

.right_align_section {
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.right_align_section .gem_amount {
  padding: 12px 0;
  color: white;
}

.right_align_section .gem_amount:hover {
  color: black;
}

.modal_btns {
  font-size: 1rem;
}

.status_level {
  width: 50px;
  aspect-ratio: 1 / 1;
}

.summon_banner {
  display: flex;
  margin-top: 20vh;
  margin-bottom: 5vh;
  justify-content: center;
}

.summon_banner img {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.85), 0px 6px 6px rgba(0, 0, 0, 0.85),
    0px 8px 8px rgba(0, 0, 0, 0.85), 0px 10px 15px rgba(0, 0, 0, 0.085),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
}

.summon_btns {
  display: flex;
  padding: 0 25vw;
  justify-content: space-evenly;
}

.summon_btns button {
  height: 60px;
  width: 200px;
}

.modal {
  max-height: fit-content;
  width: 90vw;
  position: relative;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.purchase_seleection {
  display: flex;
}

.close-button {
  position: relative;
  display: flex;
  margin-left: auto;
}

/* andy's css */
.video-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.history-list {
  height: fit-content;
  margin-top: 3%;
}

.history-list table {
  width: 100%;
  height: 100%;
}

#history-table tr {
  outline: 1px solid black;
}

#history-table tr * {
  text-align: center;
  padding: 5px 0;
}

.page-numbers {
  display: flex;
  position: relative;
  margin-top: 0.25rem;
  top: 0.1rem;
  justify-content: center;
}

.page-numbers * {
  width: 25px;
  height: 25px;
}

.btn-pagination {
  border: none;
  background-color: transparent;
}

.btn-pagination svg {
  width: 100%;
  height: 100%;
}

.btn-pagination:hover,
.btn-pagination:focus {
  box-shadow: none;
}

.page-numbers #current-number {
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
}

.video-container #skip {
  position: absolute;
  top: 0;
  right: 0;
}

.card-text-image {
  position: absolute;
  height: 100%;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td:hover .card-text-image {
  display: initial;
}
